spring:
  application:
    name: solo-leveling-player
  datasource:
    url: jdbc:postgresql://localhost:5432/solo_leveling
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: PlayerHikariCP
  kafka:
    bootstrap-servers: localhost:29092
    properties:
      schema.registry.url: http://localhost:8081
    avro:
      group-id: player-group
  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8
  grpc:
    server:
      port: 11001
  profiles:
    include: jimmer
  threads:
    virtual:
      enabled: true
  messages:
    basename: messages
    encoding: UTF-8
    cache-duration: -1
    fallback-to-system-locale: false
app:
  scheduler:
    preparing-tasks-retry:
      enabled: true
      cron: "0 * * * * *"
  tasks:
    skip-stamina-cost: 5
    currency-experience-multiplier: 0.5
    rarities:
      - name: COMMON
        stamina: 10
        experience: 10
      - name: UNCOMMON
        stamina: 20
        experience: 50
      - name: RARE
        stamina: 30
        experience: 100
      - name: EPIC
        stamina: 40
        experience: 150
      - name: LEGENDARY
        stamina: 50
        experience: 250
  player:
    limits:
      free:
        tasks:
          max: 5
        stamina:
          max: 100
          regen-rate: 1
          regen-interval-seconds: 720
      premium:
        tasks:
          max: 10
        stamina:
          max: 100
          regen-rate: 1
          regen-interval-seconds: 360
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
server:
  port: 10001
logging:
  level:
    org.apache.kafka.clients.consumer.ConsumerConfig: WARN
    org.apache.kafka.clients.producer.ProducerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroDeserializerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroSerializerConfig: WARN